@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#181C24] text-white tracking-wide 
}

h1, h2, h3, h4, h5, h6 { 
  @apply font-bold

}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl
}
h2 {
  @apply text-3xl sm:text-4xl 
}

li {
  @apply cursor-pointer
}

button {
  @apply rounded-3xl text-white
}

}
.admin-page { 
  background-color: white;
  display: flex;
  justify-content: center;
  
}
.admin-page-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: darkslateblue;
}

.admin-page-form label {
  color: white;
  font-size: large;
}
.admin-page-form button{
  margin-top: 30px;
  background-color:white ;
  color: black;
  height: 30px;

}